<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer" class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 th:text="#{footer.title}">Recipe Sharing Platform</h5>
                <p th:text="#{footer.tagline}">Share your favorite recipes with the world.</p>
            </div>
            <div class="col-md-3">
                <h5 th:text="#{footer.quickLinks}">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/}" class="text-light" th:text="#{sidebar.home}">Home</a></li>
                    <li><a th:href="@{/recipe/new}" class="text-light" th:text="#{sidebar.addRecipe}">Create Recipe</a></li>
                    <li><a th:href="@{/about}" class="text-light" th:text="#{sidebar.about}">About</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 th:text="#{footer.contactUs}">Contact Us</h5>
                <p th:text="#{footer.email}">Email: contact@recipeplatform.com</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p class="mb-0" th:text="#{footer.copyright}">&copy; 2025 Recipe Sharing Platform. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>