<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title th:text="#{home.title}">Recipe Home Page</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="#{home.latestRecipes}">Our Recipes</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" th:each="recipe : ${recipes}">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" th:text="${recipe.title}">Recipe Title</h2>
                    <p class="card-text" th:text="${recipe.description}">Recipe Description</p>
                    <p class="text-muted">
                        <span th:text="#{home.by}">By</span>:
                        <span th:text="${recipe.author}">Author</span>
                    </p>
                    <a th:href="@{'/recipe/' + ${recipe.id}}" class="btn btn-primary" th:text="#{home.viewRecipe}">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>